.product-page-products {
    padding: 15px 100px;
}

.hero-content h1 {
  font-size: 2.7rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-page-products {
    padding: 15px 40px;
    text-align: left;
}

.hero-content h1 {
  font-size: 2rem;
}
}