* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #DA1212;
  }
  
  ::selection {
    color: #fff;
    background: #DA1212;
  }

#content {
    display: none;
}

#content a:hover {
    text-decoration: underline;
}

.carlito-regular {
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .carlito-bold {
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .carlito-regular-italic {
    font-family: "Carlito", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .carlito-bold-italic {
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .livvic-thin {
    font-family: "Livvic", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .livvic-extralight {
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .livvic-light {
    font-family: "Livvic", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .livvic-regular {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .livvic-medium {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .livvic-semibold {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .livvic-bold {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .livvic-black {
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .livvic-thin-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .livvic-extralight-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .livvic-light-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .livvic-regular-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .livvic-medium-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .livvic-semibold-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .livvic-bold-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .livvic-black-italic {
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Carlito", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

nav img {
    width: 150px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 40px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: "Livvic", sans-serif;
    font-weight: 700;
}

nav ul li a {
    transition: 0.2s color;
    color: #0C3C78;
}

nav ul li a:hover {
    color: #F33535;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://placehold.co/1300x400");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}


/*____________________________________ products section styling ________________________ */

#products {
    margin: 100px 0 70px 0;
}

#products h3 {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 50px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5.5px;
    text-decoration-color: #F33535;
    text-underline-offset: 8px;
}

.products_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.product_card {
    margin-right: 50px;
    margin-bottom: 50px;
    width: 200px;
    border: 1px solid #151515;
}

.product_card h5 {
    text-align: center;
    width: 100%;
    overflow: wrap;
    padding: 15px;
    text-transform: uppercase;
    border: 1px solid #151515;
    /* font-size: 1.1rem; */
    transition: 0.3s;
    cursor: pointer;
    font-weight: 700;
}

.product_card h5:hover {
    background-color: #151515;
    color: #fff;
}

.product_card img {
    width: 100%;
    /* height: 200px;
    object-fit: cover; */
}


/* __________________________________________________Loader code______________________________________________  */

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
    transition: transform 1.5s ease-in-out, opacity 1s ease-in-out;
    /* For zoom-in and fade-out */
}

.loader svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: jump7456 0.5s linear infinite;
    /* Initial bouncing and rotating */
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #253050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
    /* Shadow bounce animation */
}

@keyframes jump7456 {
    15% {
        transform: rotate(15deg);
    }

    25% {
        transform: translateY(15px) rotate(45deg);
    }

    50% {
        transform: translateY(17px) rotate(90deg);
    }

    75% {
        transform: translateY(4px) rotate(135deg);
    }

    100% {
        transform: translateY(0px) rotate(180deg);
    }
}

@keyframes shadow324 {

    0%,
    100% {
        transform: scale(1.5, 1);
    }

    50% {
        transform: scale(1, 0.8);
    }
}

/* Stopping the bounce and spinning and then zoom-in */
.loader.zoom-in svg,
.loader.zoom-in:before {
    animation: none;
}

.loader.zoom-in {
    transform: scale(1);
    /* Initially no scale, set by JS */
    animation: none;
    /* Ensure no other animations are running */
}



/* _____________________________indistries carousel styling_________________________________  */

#industries {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #151515;
  
}

#industries h3 {
    font-family: "Livvic", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 2rem;
    margin: 10px 0 20px 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5.5px;
    text-decoration-color: #0C3C78;
    text-underline-offset: 8px;
}

.swiper-thumb .swiper-slide-thumb-active img {
    border-color: #000;
}

.main-slider {
    margin-top: 50px;
}


.carousel-container {
    max-width: 1200px;
    position: relative;
    padding: 20px;
}

/* Swiper Slide Style */
.swiper-slide {
    display: flex;
    align-items: flex-start;
}


.thumb-slider .swiper-slide {
    width: 140px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
}

.slide-content {
    flex: 1;
    color: #fff;
    margin-left: 40px;
}

.slide-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

.slide-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.slide-content img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.slide-content-flex-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.slide_prod_img {
    margin-right: 5px;
    text-align: center;
}

.slide-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-image img {
    width: 562px;
    height: 400px;
    object-fit: cover;
}

/* Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
    background-color: #0C3C78;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    --swiper-navigation-size: 20px;
    --swiper-navigation-sides-offset: -50px;
}

/* Slide Selector (thumbnails) */
.swiper-thumb {
    /* margin-bottom: 20px; */
    font-family: "Carlito", sans-serif;
    font-weight: 700;
    color: #fff;
}

.swiper-thumb img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    object-fit: cover;
}

.thumb-slider .swiper-slide h5 {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
}

.swiper-thumb img.swiper-slide-thumb-active {
    border-color: #000;
}

/* _________________________ CONTACT section styling _________________________ */

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact h5 {
    width: 30%;
    font-size: 2.5rem;
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 5.5px;
    text-decoration-color: #F33535;
    text-underline-offset: 8px;
}

#contact div {
    border-left: 3px solid black;
    width: 70%;
    padding: 50px 80px;
}

#contact h4 {
    color: #0C3C78;
    font-family: "Livvic", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

iframe {
    margin-top: 50px;
}

/* _________________________________ Quote section ______________________________________ */

#quote {
    text-transform: uppercase;
    font-family: "Livvic", sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    color: #0C3C78;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#quote span {
    color: #000;
}